<!-- <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div> -->

<div class="container-fluid row">
  <% @posts.each do |post|  %>
  <div class="col-sm-12 col-md-6 col-lg-4 py-3">
      <div class="card">
        <div class="card-body">
          <h6><%= link_to post.title, post_path(post)%></h6>
          <p><%= truncate(post.body, length: 40) %></p>
        </div>
      </div>
  </div>
  <% end %>
</div>

